* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {

    width: 100%;
    height: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    background: linear-gradient(rgb(56, 0, 178), rgb(243, 163, 71));
    transition: background 1s ease; /* Adiciona uma transição suave de 1 segundo para a propriedade background */
}
.score{

    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: aliceblue;
    background-color: black;

}
.gameOverPopup h1{
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dino{

    z-index: 5;
    width: 114px;
    position: absolute;
    bottom: 128px;
    left: 128px;
    
}
.ptero {

    position: absolute;
    z-index: 4;
    width: 148px;
    bottom: 160px;
    animation: ptero-animation 5s infinite linear; 
    
}

.jump {
    animation: jump 600ms ease-in-out;
}
 
.cactus {

    width: 100px;
    z-index: 4;
    bottom: 128px;
    position: absolute;
    animation: cactus-animation 4s infinite linear;

}
.clouds {

    position: absolute;
    z-index: 1;
    width: 512px;
    bottom: 128px;
    animation: clouds-animation 18s infinite linear;
}
.cloud {

    position: absolute;
    z-index: 1;
    width: 128px;
    bottom: 512px;
    animation: cloud-animation 20s infinite linear;
}
.cloud2 {

    position: absolute;
    z-index: 1;
    width: 128px;
    bottom: 412px;
    animation: cloud2-animation 24s infinite linear;
}
.vulcan {

    position: absolute;
    z-index: 3;
    bottom: 0;
    animation: vulcan-animation 40s infinite linear;
}
.ground {

    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background: url('../imgs/dinoground.png') repeat-x; /* Repete apenas no eixo x */
    animation: ground-animation 3s linear infinite, ease-in-out;

}
.mountains-ini {

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 312px;
    background: url('../imgs/background.png') repeat-x; /* Repete apenas no eixo x */
    animation: mountains-ini-animation 10s linear infinite, ease-in-out;

}
/* Aplicando o estilo da fonte Press Start 2P ao modal */
.modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    background-color: #9e7a4a;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 32px;
    border: 8px solid black;
}
.modal-content button {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding: 20px;
    background-color: #ddd206;
    border-radius: 18px;
    
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  

@keyframes cactus-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}

@keyframes clouds-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}
@keyframes cloud-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}
@keyframes cloud2-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}
@keyframes vulcan-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}

@keyframes ground-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes mountains-ini-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes ptero-animation {
    from {
        right: -100%;
    }
    to{
        right: 100%;
    } 
}
@keyframes jump {
    0%{
        bottom: 128px;
    }
    40%{
        bottom: 540px;
    }
    50%{
        bottom: 540px;
    }
    60%{
        bottom: 540px;
    }
    100%{
        bottom: 128px;
    }
}
@keyframes ptero-attack-animation {
    0%{
        bottom: 512px;
    }
    40%{
        bottom: 160px;
    }
    50%{
        bottom: 160px;
    }
    60%{
        bottom: 160px;
    }
    100%{
        bottom: 512px;
    }
}